/*
 * Globals
 */

@font-face {
  font-weight: normal;
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-regular-webfont.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg'); /* Legacy iOS */
}

@font-face {
  font-weight: bold;
  font-family: 'Montserrat Bold';
  src: url('../fonts/montserrat-bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-bold-webfont.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-bold-webfont.svg#montserratbold') format('svg'); /* Legacy iOS */
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  border: 1px solid #fff;
  background-color: #fff;
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
}

/*
 * Base structure
 */

html,
body {
  width:100%;
  height: 100%;
  background-color: #74CE6D;
  color:#fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  min-height: 100%;
  width: 100%;
  height: 100%; /* For at least Firefox */

}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

.shadow {
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  border-bottom: 2px solid transparent;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  font-weight: bold;
  font-size: 16px;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  border-bottom-color: rgba(255,255,255,.25);
  background-color: transparent;
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  border-bottom-color: #fff;
  color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
  width:960px;
  }
}

/**
 * Custom
 */
body {
    font-family:Avenir, Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#identity h1 {
    font-weight:600;
    font-family:Avenir-Medium, Avenir, "Montserrat Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.mastfoot a {
    text-decoration: underline;
}

.mastfoot a:hover {
    text-decoration: none;
}

#purpose h2, h4  {
    font-weight:100;
}

#mailingList {
    margin-top:28px;
    border: none;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.5);
    color:#000;
}

#mailingList form {
  width:auto;
}

#mailingList .btn {
  border: none;
  background-color: #3d8138;
  color: #fff;
}

#mailingList .btn:hover {
    background-color: #3d7138;
}

#social {
    margin-bottom:20px;
}

#social img {
    margin: 0 14px;
}

#mailingList h4 { 
  padding-right: 10px; 
  padding-bottom: 6px; 
  padding-left:10px; 
  text-shadow:none; 
  font-weight: 500;
}

#appName {
  display: inline; 
  margin-left: 20px; 
  vertical-align: middle;
}

#promise { 
  display: block; 
  margin-top: 20px;
  text-shadow: none;
}

@media(min-width: 768px) {
    #content { 
      display: table; 
    }
}

@media(max-width: 767px) {
    #purpose h2 { 
      margin: 40px 20px;
      font-size: 22px;
    }
    
    .inner { 
      padding: 12px;
    }
    
    #mailingList .btn {  
      display: block;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
  }

    #mailingList { 
      padding: 24px;
    }
    
    #emailAddress {
    padding: 10px 16px;  
      height: 46px;
    border-radius: 6px;
    font-size: 18px;
    line-height: 1.33;
  }
}